header {
    background-color: #000000;
    color: #fff;
    padding: 0.2em 0;
}

nav li a:hover {
    background-color: transparent; /* Change background color on hover */
    color: aqua; /* Change text color on hover */
  

}


nav{
    display: block;
    height: 90px;
}


nav ul  {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -91px;

    
   
    
}

 nav ul li a{
    color: white;
   
   
    display: flex ;
   padding: 50px;
    border-radius: 18px;
    text-decoration: none;
    justify-content: end;
    align-items: end;
    display: block;
    font-family: 'Baloo Bhai';
    margin-right: -80px;
 }

nav a {
    color: #fff;
    text-decoration: none;
    margin: 5px 10px;
    padding-top: 2px; 
}

nav a img{
    margin-top: 40px;
    margin-left: 50px;
    height: 50px;
    width: 130px;
   
}














#diba .diba ul {
    

    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
    gap: 4px; /* Space between items */
    padding: 0;
    margin: 0;
    list-style: none; /* Remove default list styling */
    text-align: center;
    /* background-color:  rgb(21, 20, 20); */
    margin-top: 90px;
}

/* Flex items */
#diba .diba ul li {
    flex: 0.1; /* All list items will have equal flex-grow */
    margin: 5px;
    text-align: center
    
}

/* Links styling */
#diba .diba ul li a {
    text-decoration: none;
    color: #f7f5f5; /* Default text color */
    padding: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

#diba .diba ul li a:hover {
    /* background-color: lightslategray */
    color: aqua;





}

.diba1{
    background-color:rgb(27, 16, 16);
    padding:1px;
    margin: 1px;
    

    height: 44px;
    width: 159px; 
    text-align: center;
}
