@media only screen and (max-width: 1024px) {




  span {
    color: yellow;
    margin-left: 150px;
    font-size: 35px;


}

p{
  margin-left: 150px;
  color: gray;
  font-size: 15px;
}



h2{
  font-size:30px ;
}




h1{
  margin-left: 150px;
  font-size: 55px;
  margin-top: -30px;
  margin-bottom: -5px;
}



.home img{
  margin-left: 800px;
  height: 200px;
margin-top: -450px;

}




.btn1{

  padding: 10px;
  cursor: pointer;
  background-color: gold;
  
  color: white;
  height: 50px;
  width: 130px;
  margin-left: 180px;
  font-size: 10px;
  
  }

  .btn1:hover {
    background-color: transparent; /* Change background color on hover */
    color: gold;

  }


   
  .btn2{

  
 
    cursor: pointer;
    box-sizing: border-box;
   background-color: gold;
   color: white;
   height: 50px;
   width: 130px;
   font-size: 10px;

    
    
    }
    .btn2:hover {
        background-color: transparent; /* Change background color on hover */
        color: gold;
    }


    .btn3{

       
      cursor: pointer;
      background-color: gold;
      color: white;
      height: 50px;
      width: 160px;
      font-size: 10px;

      }
      .btn3:hover {
          background-color: transparent; /* Change background color on hover */
          color: gold;
      }





      .pre1{
  
        margin-top: 100px;
        font-size: 30px;
    }
    .pre li{
    
        margin-top: 30px;
        margin-left: 150px;
    }
    



    .boxx{
      background-color: rgba(23, 26, 36, 1);
      margin-top: 50px;
      
  }
  



    #video-section {
      padding: 10px;
      margin-top: 40px;
      margin-left: 60px;
  
  
  }
.video-container video{
  height: 250px;
  width: 370px;
}




.box0{
    
  float: right;
  
  margin: 3px;
  padding: 4px;
  display: inline;
}

.box1 {
  
  background-color:rgb(27, 30, 36);
 
  padding: 20px;
  margin: 10px;
  

  height: 80px;
  width: 150px;
  text-align: center;





  
  
}


.box2 {
  background-color: rgb(26, 29, 34);
  padding: 20px;
  margin: 10px;
  

  height: 80px;
  width: 150px; 
  text-align: center;
 
  
}




.box-h {
 
  font-size: 12px;
  margin: 0;
  padding: 10px 0;
}









.module {


   
     padding: 10px; 
     width: 100%;
     border: none;
     text-align: left;
     outline: none;
     font-size: 15px;
     transition: 0.4s;
     margin-left: 25px;
     
   }




.panel {
     padding: 0 13px;
     display: none;
     background-color:rgb(17, 12, 11);
     overflow: hidden;
   }

   .module:after {
     content: '\02795'; 
     font-size: 9px;
     color: #777;
     float: left;
     margin-left: 12px;
 
   }



#slide{
    background-color:rgba(23, 26, 36, 1);
    margin-top: 100px;
font-size: 10px;

}
  


.slideshow-container {
  background-color: rgba(23, 26, 36, 1);
  max-width: 800px;
  max-height: 300px;
  position: relative;
  margin: auto;
  
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  padding: 3px;
  margin-top: -15px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 1px 1px 1px 1px;
  user-select: none;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 22px 1px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.all0{
  color: white;
  font-size: 7px;
  

}



.all0 p{
  font-size: 7px;
  position: relative;
  top: 40px;
  
}

.all0 h3{
  position: relative;
top: 40px;
left: 20%;

  
}


.all0 h5{
  position: relative;
top: 40px;
left: 20%;

  
}








#course{
  border-top:1px solid #717171;
  border-bottom:1px solid #717171 ;

  margin-top: 150px;
  
}


.course{
  margin-top: 30px;
  width: 850px;
height: 400px;
top: 3808px;
left: 235px;
gap: 0px;
opacity: 0px;
display: flex;
align-items: center;
justify-content: center;

}

.c1{
  background-color: rgba(23, 26, 36, 1);
 
  width: Fixed (296px)px;
height: Hug (231px)px;
top: 67px;

padding: 30px 20px 30px 20px;
gap: 15px;
opacity: 0px;
margin: 15px;
margin-left: -100px;

}


.c2{background-color: rgba(23, 26, 36, 1);
  
  width: Fixed (296px)px;
height: Hug (231px)px;
top: 67px;
left: 327px;

padding: 30px 20px 30px 20px;
gap: 15px;
opacity: 0px;
margin: 15px;
}

.c3{
  background-color: rgba(23, 26, 36, 1);

  width: Fixed (296px)px;
height: Hug (231px)px;
top: 67px;
left: 554px;
padding: 30px 20px 30px 20px;
gap: 15px;
opacity: 0px;
margin: 15px;


}















.img{
  margin-bottom: 80px; 
  margin-left: -35px;
   margin-top: 30px;
}






input{
  margin-left: 25px;
}


.buttn{
  background-color:transparent;

  color: white;
  border: none;
  margin-left: 2px;
  /* font-size: large; */
}
.buttn:hover{
background-color: white;
color: black;
}


.form-group p{
  font-family: Baloo Bhai;
  font-size: xx-large;
  margin-left: 25px;
  color: #f7f5f5;

}.form-group img{
  /* float: left; */
margin-left: 15px;
  height: 40px;
  
}












.foot{
 
  height: 200px;
}
.img{
  margin-top: 30px;
}
.foot h8{
  color: white;
  margin-left: -180px;
  font-size: 9px;
}


.foot h9{
  color: white;
}



.details ul{
  color: white;
  margin-left: 85px;
  padding: 5px 20px;
 
}


.detail1{
  color: white;
  margin-left: 300px;
  margin-top: -300px;
}
.detail1 div{
  margin-left: 210px;
}

.detail2{
  color: white;
  margin-left: 380px;
  
}
.detail2 ul{
  margin-left: 140px ;
  position: relative;
  top: -162px;
}
.detail2 div{
  margin-left: 320px;
  position: relative;
  top: -320px;
}



.detail3{
  color: white;
  margin-left: 460px;
  margin-top: -142px;

}
.detail3 ul{
  margin-left: 195px;
position: relative;
top:-190px ;


}

.detail3 div{

margin-left: 430px;
position: relative;
top: -385px;

}

.footer{

  border-top: 0.1rcap solid rgb(115, 115, 115);
  width: 100%;
  color: fff;
  margin-top: -80px;
  margin-left:-109px;
  
  /* text-align: start; */

}











/* 
footer {
  
  border-top: 0.1rcap solid rgb(253, 237, 208);
  color: #fff;
  text-align: start;
  padding: 8px;
 
  width: 100%;
}


 */


  }



















  






  @media only screen and (max-width: 770px) {




    span {
      color: yellow;
      margin-left: 80px;
      font-size: 20px;
  
  
  }
  
  p{
    margin-left: 80px;
    color: gray;
    font-size: 10px;
  }
  
  
  
  h2{
    font-size:20px ;
  }
  
  
  
  
  h1{
    margin-left: 80px;
    font-size: 35px;
    margin-top: -20px;
    margin-bottom: -2.5px;
  }
  
  
  
  .home img{
    margin-left: 500px;
    height: 120px;
  margin-top: -250px;
  
  }
  
  
  
  
  .btn1{
  
    padding: 7px;
    cursor: pointer;
    background-color: gold;
    
    color: white;
    height: 30px;
    width: 100px;
    margin-left: 100px;
    font-size: 8px;
    
    }
  
    .btn1:hover {
      background-color: transparent; /* Change background color on hover */
      color: gold;
  
    }
  
  
     
    .btn2{
  
    
   
      cursor: pointer;
      box-sizing: border-box;
     background-color: gold;
     color: white;
     height: 30px;
     width: 100px;
     font-size: 8px;
  
      
      
      }
      .btn2:hover {
          background-color: transparent; /* Change background color on hover */
          color: gold;
      }
  
  
      .btn3{
  
         
        cursor: pointer;
        background-color: gold;
        color: white;
        height: 30px;
        width: 130px;
        font-size: 8px;
  
        }
        .btn3:hover {
            background-color: transparent; /* Change background color on hover */
            color: gold;
        }
  
  
  
  

      



  
        .pre1{
    
          margin-top: 100px;
          font-size: 30px;
      }
      .pre li{
      
          margin-top: 10px;
          margin-left: 80px;
      }
      
  
  
  
      .boxx{
        background-color: rgba(23, 26, 36, 1);
        margin-top: 50px;
        
    }
    
 .boxx h1{
  font-size: 40px;
  margin-left: 50px;
 }
  
      #video-section {
        padding: 2px;
        /* margin-top: 10px; */
        margin-left: 10px;
    
    
    }
  .video-container video{
    height: 200px;
    width: 250px;
    margin-left: 50px;
  }
  
  
  
  
  .box0{
      
    float: right;
    
    margin: 1px;
    padding: 2px;
    display: inline;
  }
  
  .box1 {
    
    background-color:rgb(27, 30, 36);
   
    padding: 10px;
    margin: 5px;
    margin-right: 50px;
  
    height: 80px;
    width: 130px;
    text-align: center;
  
  
  
  
  
    
    
  }
  
  
  .box2 {
    background-color: rgb(26, 29, 34);
    padding: 10px;
    margin: 5px;
    
  
    height: 80px;
    width: 130px; 
    text-align: center;
   
    
  }
  
  
  
  
  .box-h {
   
    font-size: 10px;
    margin: 0;
    padding: 5px 0;
  }
  
  
  
  
  
  
  
  
  
  .module {
  
  
     
       padding: 10px; 
       width: 100%;
       border: none;
       text-align: left;
       outline: none;
       font-size: 15px;
       transition: 0.4s;
       
     }
  
  
  
  
  .panel {
       padding: 0 13px;
       display: none;
       background-color:rgb(17, 12, 11);
       overflow: hidden;
     }
  
     .module:after {
       content: '\02795'; 
       font-size: 9px;
       color: #777;
       float: left;
       margin-left: 12px;
   
     }
  
  
  
  #slide{
      background-color:rgba(23, 26, 36, 1);
      margin-top: 100px;
  font-size: 10px;
  
  }
    
  
  
  .slideshow-container {
    background-color: rgba(23, 26, 36, 1);
    max-width: 800px;
    max-height: 300px;
    position: relative;
    margin: auto;
    
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    padding: 3px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 1px 1px 1px 1px;
    user-select: none;
  }
  
  
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 15px 5px;
    margin-top: 50px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .all0{
    color: white;
    font-size: 12px;
  
  }
  
  
  
  .all0 p{
    font-size: 12px;
    position: relative;
    top: 40px;
    left: -50px;
    
  }
  
  .all0 h3{
    position: relative;
  top: 40px;
  left: 20%;
  
    
  }
  
  
  .all0 h5{
    position: relative;
  top: 40px;
  left: 5%;
  
    
  }
  
  
  
  
  
  
  
  
  #course{
    border-top:1px solid #717171;
    border-bottom:1px solid #717171 ;
  
    margin-top: 150px;
    
  }
  
  
  .course{
    margin-top: 120px;
    margin-bottom: 100px;
    width: 650px;
  height: 250px;
  top: 3808px;
  left: 235px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
  .c1{
    background-color: rgba(23, 26, 36, 1);
   
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  
  padding: 30px 20px 30px 20px;
  gap: 10px;
  opacity: 0px;
  margin: 10px;
  margin-left: -130px;
  
  }
  
  
  .c2{background-color: rgba(23, 26, 36, 1);
    
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  left: 287px;
  padding: 30px 20px 30px 20px;
  gap: 10px;
  opacity: 0px;
  margin: 10px;
  
  }
  
  .c3{
    background-color: rgba(23, 26, 36, 1);
  
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  left: 384px;
  padding: 30px 20px 30px 20px;
  gap: 10px;
  opacity: 0px;
  margin: 10px;
  margin-right: 50px;
  
  
  }
  
  
  
  


.img{
  margin-bottom: 80px; 
  margin-left: -35px;
   margin-top: 30px;
}


.co2{
  border: 1px solid gray;
}




input{
  margin-left: 355px;
  border: 1px solid gray;
  margin-top: -250px;
}


.buttn{
  background-color:transparent;

  color: white;
  border: none;
  margin-left: 2px;
  /* font-size: large; */
  border: 1px solid gray;
  margin-top: -250px;


}
.buttn:hover{
background-color: white;
color: black;
}


.form-group p{
  font-family: Baloo Bhai;
  font-size: xx-large;
  margin-left: 355px;
  color: #f7f5f5;
    /* border: 1px solid gray; */
    margin-top: -250px;



}.form-group img{
  /* float: left; */
margin-left: 355px;
  height: 40px;
  border: 1px solid gray;
  /* margin-top: -150px; */

  
}












.foot{
 
  height: 200px;
}
.img{
  margin-top: 30px;
}
.foot h8{
  color: white;
  margin-left: -180px;
  font-size: 9px;
}


.foot h9{
  color: white;
}



.details ul{
  color: white;
  margin-left: 85px;
  padding: 5px 20px;
  font-size: 10px;
 
}


.detail1{
  color: white;
  margin-left: -160px;
  margin-top: 70px;
}
.detail1 div{
  margin-left: 210px;
}

.detail2{
  color: white;
  margin-left: -80px;
  margin-top: 80px;
  
}
.detail2 ul{
  margin-left: 140px ;
  position: relative;
  top: -162px;
}
.detail2 div{
  margin-left: 320px;
  position: relative;
  top: -320px;
}



.detail3{
  color: white;
  margin-left: 60px;
  margin-top: -100px;

}
.detail3 ul{
  margin-left: 195px;
position: relative;
top:-190px ;


}

.detail3 div{

margin-left: 430px;
position: relative;
top: -385px;

}

.footer{

  border-top: 0.1rcap solid rgb(115, 115, 115);
  width: 100%;
  color: fff;
  margin-top: -80px;
  margin-left:-50px;

  
  /* text-align: start; */

}





  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
/*   
  footer {
    
    border-top: 0.1rcap solid rgb(253, 237, 208);
    color: #fff;
    text-align: start;
    padding: 5px;
   font-size: 10px;
    width: 100%;
  }
  
  
   */
  
  
  
  

  }
    
























  @media only screen and (max-width: 426px) {



    nav a img{
  
      top: 17px;
      left: 2%;
      
        margin-left: -50px;
        height: 40px;
        width: 100px;
       
    }






    span {
      color: yellow;
      margin-left: 20px;
      font-size: 20px;
  
  
  }
  
  p{
    margin-left: 10px;
    color: gray;
    font-size: 15px;
    
  }
  
  
  
  h2{
    font-size:15px ;
  }
  
  
  
  
  h1{
    margin-left: 15px;
    font-size: 10px;
    margin-top: -6px;
    margin-bottom: -0.2px;
  }
  
  
  
  .home img{
    margin-left: 55px;
    height: 320px;
    width: 320px;
  margin-top: 30px;
  border-radius: 5%;
  
  }
  
  
  
  
  .btn1{
  
    padding: 2px;
    margin: 8px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
    color: black;
    height: 30px;
    width: 87px;
    margin-left: 55px;
    margin-top: 60px;
    font-size: 9px;
    
    
    }
  
    .btn1:hover {
      background-color: transparent; /* Change background color on hover */
      color: gold;
  
    }
  
  
     
    .btn2{
  
    
   margin: 8px;
   padding: 2px;
      cursor: pointer;
      box-sizing: border-box;
      background-color: transparent;
      border: 1px solid gold;
      border-radius: 5%;
      background: gold;
     color: black;
     height: 30px;
     width: 87px;
     font-size: 8px;
    
  
      
      
      }
      .btn2:hover {
          background-color: transparent; /* Change background color on hover */
          color: gold;
      }
  
  
      .btn3{
  margin:8px;
  
         
        cursor: pointer;
        background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
        color: black;
        height: 30px;
    width: 87px;
        font-size: 9px;
  
        }
        .btn3:hover {
            background-color: transparent; /* Change background color on hover */
            color: gold;
        }
  
  
  






#card{
  margin-top: 50px;
}


/* Flex container */
#details .text ul {
  border: none;
 
font-size: 9px;

    gap: 25px; 
    padding: 2px;
    margin: 2px;
    list-style: none ; 
    
    margin-top: 30px;
}

/* Flex items */
#details .text ul li {
    /* flex: 0.1; All list items will have equal flex-grow */
    margin: -2px;
    
}

/* Links styling */
#details .text ul li a {
    text-decoration: none;
    color: #f7f5f5; /* Default text color */
    padding: 2px;
    /* background-color: transparent; */
    /* transition: background-color 0.1s, color 0.1s; Smooth transition for hover effect */
}

#details .text ul li a:hover {
    background-color: lightslategray




}









  

      



  
        .pre1{
    
          margin-top: 50px;
          font-size: 15px;
      }
      .pre li{
      
          margin-top: 15px;
          margin-left: 12px;
          font-size: 15px;
      }
      
      .pre h1{
        font-size: 25px;
      }
  
  
  
      .boxx{
        background-color: rgba(23, 26, 36, 1);
        margin-top: 20px;
        
    }
    

  
      #video-section {
        padding: 2px;
        margin-top: 15px;
        margin-left: 30px;
    
    
    
    }
  .video-container video{
    height: 200px;
    width: 250px;
  }
  
  .boxx h1{
    margin-left: 30px;
    font-size: 20px;
  }
  
  
  .box0{
      
    /* float: right; */
    
    margin: 1px;
    padding: 2px;
    display: inline;
  }
  
  .box1 {
    
    background-color:rgb(27, 30, 36);
   
    padding: 16px;
    margin: 8px;
    
  
    height: 100px;
    width: 150px;
    /* text-align: center; */
  /* justify-content: center; */
  margin-right: 50px;  
  
  
    
    
  }
  
  
  .box2 {
    background-color: rgb(26, 29, 34);
    padding: 16px;
    margin: 8px;
    
  margin-left: 10px;
    height: 100px;
    width: 150px; 
    /* text-align: center; */
    /* justify-content: center; */
   
    
  }
  
  
  
  
  .box-h {
   
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
  }
  
  
  
  
  
  
  
  
  
  .module {
  
  
     
       padding: 4px; 
       width: 100%;
       border: none;
       
       outline: none;
       font-size: 12px;
       transition: 0.4s;
       
       margin-left: 4px
     }
  
    




 
  
  
  
  
  #slide{
      background-color:rgba(23, 26, 36, 1);
      margin-top: 50px;
  font-size: 10px;
  
  }
    
  
  
  .slideshow-container {
    background-color: rgba(23, 26, 36, 1);
    max-width: 800px;
    max-height: 300px;
    position: relative;
    margin: auto;
    
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    padding: 3px;
    margin-top: -15px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 1px 1px 1px 1px;
    user-select: none;
  }
  
  
  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 17px 1px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .all0{
    color: white;
    font-size: 10px;
  
  }
  
  
  
  .all0 p{
    font-size: 12px;
    position: relative;
    top: 40px;
    left: 2.5%;
  }
  
  .all0 h3{
    position: relative;
  top: 40px;
  left: 20%;
  
    
  }
  
  
  .all0 h5{
    position: relative;
  top: 40px;
  left: 20%;
  
    
  }
  
  
  
  
  
  
  
  
  #course{
    border-top:1px solid #717171;
    border-bottom:1px solid #717171 ;
  
    margin-top: 150px;
    
  }
  
  
  .course{
    margin-top: 30px;
    width: 850px;
  height: 400px;
  top: 3808px;
  left: 235px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
  .c1{
    background-color: rgba(23, 26, 36, 1);
   
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  

}
  
  
  .c2{background-color: rgba(23, 26, 36, 1);
    
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  left: 287px;
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  
  }
  
  .c3{
    background-color: rgba(23, 26, 36, 1);
  
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  left: 384px;
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  
  
  }
  
  
  .course :hover{
    background-color:rgba(207, 169, 53, 1);
}




  
}











@media only screen and (max-width: 422px)  {





  
  
  .boxx{
    background-color: rgba(23, 26, 36, 1);
    margin-top: 20px;
    
}



  #video-section {
    padding: 2px;
    margin-top: 15px;
    margin-left: 30px;



}
.video-container video{
height: 200px;
width: 250px;
}

.boxx h1{
margin-left: 30px;
font-size: 20px;
}


.box0{
  
/* float: right; */

margin: 1px;
padding: 2px;
display: inline;
}

.box1 {

background-color:rgb(27, 30, 36);

padding: 12px;
margin: 6px;


height: 100px;
width: 150px;

margin-right: 35px;  




}


.box2 {
background-color: rgb(26, 29, 34);
padding: 12px;
margin: 6px;

/* margin-left: 10px; */
height: 100px;
width: 150px; 



}




.box-h {

font-size: 15px;
margin: 0;
padding: 5px 0;
}





  
}






















@media only screen and (max-width: 400px)  {


  .home img{
    margin-left: 40px;
    height: 320px;
    width: 320px;
  margin-top: 30px;
  border-radius: 5%;
  
  }
  
  

  
  
  .btn1{
  
    padding: 2px;
    margin: 8px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
    color: black;
    height: 30px;
    width: 87px;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 9px;
    
    
    }
  
    .btn1:hover {
      background-color: transparent; /* Change background color on hover */
      color: gold;
  
    }
  
  
     
    .btn2{
  
    
   margin: 8px;
   padding: 2px;
      cursor: pointer;
      box-sizing: border-box;
      background-color: transparent;
      border: 1px solid gold;
      border-radius: 5%;
      background: gold;
     color: black;
     height: 30px;
     width: 87px;
     font-size: 8px;
    
  
      
      
      }
      .btn2:hover {
          background-color: transparent; /* Change background color on hover */
          color: gold;
      }
  
  
      .btn3{
  margin:8px;
  
         
        cursor: pointer;
        background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
        color: black;
        height: 30px;
    width: 87px;
        font-size: 9px;
  
        }
        .btn3:hover {
            background-color: transparent; /* Change background color on hover */
            color: gold;
        }
  
  
  











        .box1 {

          background-color:rgb(27, 30, 36);
          
          padding: 10px;
          margin: 5px;
          
          
          height: 80px;
          width: 130px;
          
          margin-right: 50px;  
          
          
          
          
          }
          
          
          .box2 {
          background-color: rgb(26, 29, 34);
          padding: 10px;
          margin: 5px;
          
          /* margin-left: 10px; */
          height: 80px;
          width: 130px; 
          
          
          
          }
          
          
          
          
          .box-h {
          
          font-size: 12px;
          margin: 0;
          padding: 5px 0;
          }
          
          












          .module {
  
  
     
            padding: 4px; 
            width: 100%;
            border: none;
            
            outline: none;
            font-size: 11px;
            transition: 0.4s;
            
            margin-left: 4px
          }
       
         


}














  



  @media only screen and (max-width: 376px) {



    nav a img{
  
      top: 17px;
      left: 2%;
      
        margin-left: -70px;
        height: 40px;
        width: 100px;
       
    }






    span {
      color: yellow;
      margin-left: 20px;
      font-size: 20px;
  
  
  }
  
  p{
    margin-left: 10px;
    color: gray;
    font-size: 15px;
    
  }
  
  
  
  h2{
    font-size:15px ;
  }
  
  
  
  
  h1{
    margin-left: 15px;
    font-size: 10px;
    margin-top: -6px;
    margin-bottom: -0.2px;
  }
  
  
  
  .home img{
    margin-left: 35px;
    height: 300px;
    width: 300px;
  margin-top: 30px;
  border-radius: 5%;
  
  }
  
  
  
  
  .btn1{
  
    padding: 2px;
    margin: 8px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
    color: black;
    height: 30px;
    width: 87px;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 9px;
    
    
    }
  
    .btn1:hover {
      background-color: transparent; /* Change background color on hover */
      color: gold;
  
    }
  
  
     
    .btn2{
  
    
   margin: 8px;
   padding: 2px;
      cursor: pointer;
      box-sizing: border-box;
      background-color: transparent;
      border: 1px solid gold;
      border-radius: 5%;
      background: gold;
     color: black;
     height: 30px;
     width: 87px;
     font-size: 8px;
    
  
      
      
      }
      .btn2:hover {
          background-color: transparent; /* Change background color on hover */
          color: gold;
      }
  
  
      .btn3{
  margin:8px;
  
         
        cursor: pointer;
        background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
        color: black;
        height: 30px;
    width: 87px;
        font-size: 9px;
  
        }
        .btn3:hover {
            background-color: transparent; /* Change background color on hover */
            color: gold;
        }
  
  
  






#card{
  margin-top: 50px;
}


/* Flex container */
#details .text ul {
  border: none;
 
font-size: 9px;

    gap: 25px; 
    padding: 2px;
    margin: 2px;
    list-style: none ; 
    
    margin-top: 30px;
}

/* Flex items */
#details .text ul li {
    /* flex: 0.1; All list items will have equal flex-grow */
    margin: -2px;
    
}

/* Links styling */
#details .text ul li a {
    text-decoration: none;
    color: #f7f5f5; /* Default text color */
    padding: 2px;
    /* background-color: transparent; */
    /* transition: background-color 0.1s, color 0.1s; Smooth transition for hover effect */
}

#details .text ul li a:hover {
    background-color: lightslategray




}









  

      



  
        .pre1{
    
          margin-top: 50px;
          font-size: 15px;
      }
      
      .pre li{
      
          margin-top: 15px;
          margin-left: 12px;
          font-size: 15px;
      }
      
      .pre h1{
        font-size: 25px;
      }
  
  
  
      .boxx{
        background-color: rgba(23, 26, 36, 1);
        margin-top: 20px;
        
    }
    

  
      #video-section {
        padding: 2px;
        margin-top: 15px;
        margin-left: 30px;
    
    
    
    }
  .video-container video{
    height: 200px;
    width: 250px;
  }
  
  .boxx h1{
    margin-left: 30px;
    font-size: 20px;
  }
  
  
  .box0{
      
    /* float: right; */
    
    margin: 1px;
    padding: 2px;
    display: inline;
  }
  
  .box1 {
    
    background-color:rgb(27, 30, 36);
   
    padding: 8px;
    margin: 4px;
    
  
    height: 80px;
    width: 130px;
    text-align: center;
  
  margin-right: 50px;  
  margin-top: 35px;
  
    
    
  }
  
  
  .box2 {
    background-color: rgb(26, 29, 34);
    padding: 8px;
    margin: 4px;
    
  /* margin-left: 5px; */
    height: 80px;
    width: 130px; 
    /* text-align: center; */
   
    margin-top: 35px;

  }
  
  
  
  
  .box-h {
   
    font-size: 12px;
    margin: 0;
    padding: 5px 0;
  }
  
  
  
  
  
  
  
  
  
  .module {
  
  
     
       padding: 4px; 
       width: 100%;
       border: none;
       
       outline: none;
       font-size: 9px;
       transition: 0.4s;
       margin-top: 10px;
       margin-left: 4px
       
     }
  
    



  
  
  
  
  #slide{
      background-color:rgba(23, 26, 36, 1);
      margin-top: 50px;
  font-size: 10px;
  
  }
    
  
  
  .slideshow-container {
    background-color: rgba(23, 26, 36, 1);
    max-width: 800px;
    max-height: 300px;
    position: relative;
    margin: auto;
    
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    padding: 3px;
    margin-top: -15px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 1px 1px 1px 1px;
    user-select: none;
  }
  
  
  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 17px 1px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .all0{
    color: white;
    font-size: 10px;
  
  }
  
  
  
  .all0 p{
    font-size: 12px;
    position: relative;
    top: 40px;
    left: 2.5%;
  }
  
  .all0 h3{
    position: relative;
  top: 40px;
  left: 20%;
  
    
  }
  
  
  .all0 h5{
    position: relative;
  top: 40px;
  left: 20%;
  
    
  }
  
  
  
  
  
  
  
  
  #course{
    border-top:1px solid #717171;
    border-bottom:1px solid #717171 ;
  
    margin-top: 150px;
    
  }
  
  
  .course{
    margin-top: 30px;
    width: 850px;
  height: 400px;
  top: 3808px;
  left: 235px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
  .c1{
    background-color: rgba(23, 26, 36, 1);
   
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  

}
  
  
  .c2{background-color: rgba(23, 26, 36, 1);
    
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  left: 287px;
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  
  }
  
  .c3{
    background-color: rgba(23, 26, 36, 1);
  
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  left: 384px;
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  
  
  }
  
  
  .course :hover{
    background-color:rgba(207, 169, 53, 1);
}




  
}





















@media only screen and (max-width:368px) {


  
  .box1 {
    
    background-color:rgb(27, 30, 36);
   
    padding: 8px;
    margin: 4px;
    
  
    height: 80px;
    width: 130px;
    text-align: center;
  
  margin-right: 35px;  
  margin-top: 35px;
  
    
    
  }
  
  
  .box2 {
    background-color: rgb(26, 29, 34);
    padding: 8px;
    margin: 4px;
    
  /* margin-left: 5px; */
    height: 80px;
    width: 130px; 
    /* text-align: center; */
   
    margin-top: 35px;

  }
  
  
  
  
  .box-h {
   
    font-size: 12px;
    margin: 0;
    padding: 5px 0;
  }
  
  
  
  
  
  
}








@media only screen and (max-width: 353px) {





  .home img{
    margin-left: 25px;
 
  
  }
  
  


  .btn1{

    margin-left: 15px;
  }

 






  
  .box1 {
    
    background-color:rgb(27, 30, 36);
   
    padding: 8px;
    margin: 4px;
    
  
    height: 70px;
    width: 120px;
    text-align: center;
  
  margin-right: 40px;  
  margin-top: 35px;
  
    
    
  }
  
  
  .box2 {
    background-color: rgb(26, 29, 34);
    padding: 8px;
    margin: 4px;
    
  /* margin-left: 5px; */
    height: 70px;
    width: 120px; 
    /* text-align: center; */
   
    margin-top: 35px;

  }
  
  
  
  
  .box-h {
   
    font-size: 12px;
    margin: 0;
    padding: 5px 0;
  }
  
  
  
  
  



}


























  @media only screen and (max-width: 340px) {



    nav a img{
  
      top: 17px;
      left: 2%;
      
        margin-left: -70px;
        height: 40px;
        width: 100px;
       
    }






    span {
      color: yellow;
      margin-left: 20px;
      font-size: 20px;
  
  
  }
  
  p{
    margin-left: 10px;
    color: gray;
    font-size: 15px;
    
  }
  
  
  
  h2{
    font-size:15px ;
  }
  
  
  
  
  h1{
    margin-left: 15px;
    font-size: 10px;
    margin-top: -6px;
    margin-bottom: -0.2px;
  }
  
  
  
  .home img{
    margin-left: 35px;
    height: 250px;
    width: 250px;
  margin-top: 30px;
  border-radius: 5%;
  
  }
  
  
  
  
  .btn1{
  
    padding: 2px;
    margin: 8px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
    color: black;
    height: 30px;
    width: 87px;
    /* margin-left: 15px; */
    margin-top: 60px;
    font-size: 9px;
    
    
    }
  
    .btn1:hover {
      background-color: transparent; /* Change background color on hover */
      color: gold;
  
    }
  
  
     
    .btn2{
  
    
   margin: 8px;
   padding: 2px;
      cursor: pointer;
      box-sizing: border-box;
      background-color: transparent;
      border: 1px solid gold;
      border-radius: 5%;
      background: gold;
     color: black;
     height: 30px;
     width: 87px;
     font-size: 8px;
    
  
      
      
      }
      .btn2:hover {
          background-color: transparent; /* Change background color on hover */
          color: gold;
      }
  
  
      .btn3{
  margin:8px;
  
         
        cursor: pointer;
        background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
        color: black;
        height: 30px;
    width: 87px;
        font-size: 9px;
  
        }
        .btn3:hover {
            background-color: transparent; /* Change background color on hover */
            color: gold;
        }
  
  
  






#card{
  margin-top: 50px;
}


/* Flex container */
#details .text ul {
  border: none;
 
font-size: 9px;

    gap: 25px; 
    padding: 2px;
    margin: 2px;
    list-style: none ; 
    
    margin-top: 30px;
}

/* Flex items */
#details .text ul li {
    /* flex: 0.1; All list items will have equal flex-grow */
    margin: -2px;
    
}

/* Links styling */
#details .text ul li a {
    text-decoration: none;
    color: #f7f5f5; /* Default text color */
    padding: 2px;
    /* background-color: transparent; */
    /* transition: background-color 0.1s, color 0.1s; Smooth transition for hover effect */
}

#details .text ul li a:hover {
    background-color: lightslategray




}









  

      



  
        .pre1{
    
          margin-top: 50px;
          font-size: 15px;
      }
      .pre li{
      
          margin-top: 15px;
          margin-left: 12px;
          font-size: 15px;
      }
      
      .pre h1{
        font-size: 25px;
      }
  
  
  
      .boxx{
        background-color: rgba(23, 26, 36, 1);
        margin-top: 20px;
        
    }
    

  
      #video-section {
        padding: 2px;
        margin-top: 15px;
        margin-left: 30px;
    
    
    
    }
  .video-container video{
    height: 200px;
    width: 250px;
  }
  
  .boxx h1{
    margin-left: 30px;
    font-size: 20px;
  }
  
  
  .box0{
      
    /* float: right; */
    
    margin: 1px;
    padding: 2px;
    display: inline;
  }
  
  .box1 {
    
    background-color:rgb(27, 30, 36);
   
    padding: 8px;
    margin: 4px;
    
  
    height: 70px;
    width: 120px;
    text-align: center;
  
  margin-right: 23px;  
  
  
    
    
  }
  
  
  .box2 {
    background-color: rgb(26, 29, 34);
    padding: 8px;
    margin: 4px;
    
  /* margin-left: 10px; */
    height: 70px;
    width: 120px; 
    text-align: center;
   
    
  }
  
  
  
  
  .box-h {
   
    font-size: 10px;
    margin: 0;
    padding: 5px 0;
  }
  
  
  
  
  
  
  
  
  
  .module {
  
  
     
       padding: 4px; 
       width: 100%;
       border: none;
       
       outline: none;
       font-size: 9px;
       transition: 0.4s;
       
       margin-left: 4px
     }
  
    




 
  
  
  
  
  #slide{
      background-color:rgba(23, 26, 36, 1);
      margin-top: 50px;
  font-size: 10px;
  
  }
    
  
  
  .slideshow-container {
    background-color: rgba(23, 26, 36, 1);
    max-width: 800px;
    max-height: 300px;
    position: relative;
    margin: auto;
    
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    width: auto;
    padding: 3px;
    margin-top: -15px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 1px 1px 1px 1px;
    user-select: none;
  }
  
  
  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 17px 1px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .all0{
    color: white;
    font-size: 10px;
  
  }
  
  
  
  .all0 p{
    font-size: 12px;
    position: relative;
    top: 40px;
    left: 2.5%;
  }
  
  .all0 h3{
    position: relative;
  top: 40px;
  left: 20%;
  
    
  }
  
  
  .all0 h5{
    position: relative;
  top: 40px;
  left: 20%;
  
    
  }
  
  
  
  
  
  
  
  
  #course{
    border-top:1px solid #717171;
    border-bottom:1px solid #717171 ;
  
    margin-top: 150px;
    
  }
  
  
  .course{
    margin-top: 30px;
    width: 850px;
  height: 400px;
  top: 3808px;
  left: 235px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
  .c1{
    background-color: rgba(23, 26, 36, 1);
   
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  

}
  
  
  .c2{background-color: rgba(23, 26, 36, 1);
    
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  left: 287px;
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  
  }
  
  .c3{
    background-color: rgba(23, 26, 36, 1);
  
    width: Fixed (196px)px;
  height: Hug (131px)px;
  top: 67px;
  left: 384px;
  padding: 30px 20px 30px 20px;
  gap: 15px;
  opacity: 0px;
  margin: 15px;
  
  
  }
  
  
  .course :hover{
    background-color:rgba(207, 169, 53, 1);
}




  
}





















@media only screen and (max-width: 321px) {



  nav a img{

    top: 17px;
    left: 2%;
    
      margin-left: -70px;
      height: 40px;
      width: 100px;
     
  }






  span {
    color: yellow;
    margin-left: 20px;
    font-size: 20px;


}

p{
  margin-left: 10px;
  color: gray;
  font-size: 15px;
  
}



h2{
  font-size:15px ;
}




h1{
  margin-left: 15px;
  font-size: 10px;
  margin-top: -6px;
  margin-bottom: -0.2px;
}



.home img{
  margin-left: 35px;
  height: 250px;
  width: 250px;
margin-top: 30px;
border-radius: 5%;

}




.btn1{

  padding: 2px;
  margin: 8px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid gold;
  border-radius: 5%;
  background: gold;
  color: black;
  height: 30px;
  width: 87px;
  margin-left: 2px;
  margin-top: 60px;
  font-size: 9px;
  
  
  }

  .btn1:hover {
    background-color: transparent; /* Change background color on hover */
    color: gold;

  }


   
  .btn2{

  
 margin: 8px;
 padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid gold;
    border-radius: 5%;
    background: gold;
   color: black;
   height: 30px;
   width: 87px;
   font-size: 8px;
  

    
    
    }
    .btn2:hover {
        background-color: transparent; /* Change background color on hover */
        color: gold;
    }


    .btn3{
margin:8px;

       
      cursor: pointer;
      background-color: transparent;
  border: 1px solid gold;
  border-radius: 5%;
  background: gold;
      color: black;
      height: 30px;
  width: 87px;
      font-size: 9px;

      }
      .btn3:hover {
          background-color: transparent; /* Change background color on hover */
          color: gold;
      }









#card{
margin-top: 50px;
}


/* Flex container */
#details .text ul {
border: none;

font-size: 9px;

  gap: 25px; 
  padding: 2px;
  margin: 2px;
  list-style: none ; 
  
  margin-top: 30px;
}

/* Flex items */
#details .text ul li {
  /* flex: 0.1; All list items will have equal flex-grow */
  margin: -2px;
  
}

/* Links styling */
#details .text ul li a {
  text-decoration: none;
  color: #f7f5f5; /* Default text color */
  padding: 2px;
  /* background-color: transparent; */
  /* transition: background-color 0.1s, color 0.1s; Smooth transition for hover effect */
}

#details .text ul li a:hover {
  background-color: lightslategray




}











    




      .pre1{
  
        margin-top: 50px;
        font-size: 15px;
    }
    .pre li{
    
        margin-top: 15px;
        margin-left: 12px;
        font-size: 15px;
    }
    
    .pre h1{
      font-size: 25px;
    }



    .boxx{
      background-color: rgba(23, 26, 36, 1);
      margin-top: 20px;
      
  }
  


    #video-section {
      padding: 2px;
      margin-top: 15px;
      margin-left: 30px;
  
  
  
  }
.video-container video{
  height: 200px;
  width: 250px;
}

.boxx h1{
  margin-left: 30px;
  font-size: 20px;
}


.box0{
    
  /* float: right; */
  
  margin: 1px;
  padding: 2px;
  display: inline;
}

.box1 {
  
  background-color:rgb(27, 30, 36);
 
  padding: 8px;
  margin: 4px;
  

  height: 50px;
  width: 100px;
  text-align: center;

margin-right: 50px;  


  
  
}


.box2 {
  background-color: rgb(26, 29, 34);
  padding: 8px;
  margin: 4px;
  
/* margin-left: 5px; */
  height: 50px;
  width: 100px; 
  text-align: center;
 
  
}




.box-h {
 
  font-size: 8px;
  margin: 0;
  padding: 5px 0;
}









.module {


   
     padding: 4px; 
     width: 100%;
     border: none;
     
     outline: none;
     font-size: 9px;
     transition: 0.4s;
     
     margin-left: 4px
   }

  









#slide{
    background-color:rgba(23, 26, 36, 1);
    margin-top: 50px;
font-size: 10px;

}
  


.slideshow-container {
  background-color: rgba(23, 26, 36, 1);
  max-width: 800px;
  max-height: 300px;
  position: relative;
  margin: auto;
  
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 70%;
  width: auto;
  padding: 3px;
  margin-top: -15px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 1px 1px 1px 1px;
  user-select: none;
}


.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 17px 1px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.all0{
  color: white;
  font-size: 10px;

}



.all0 p{
  font-size: 12px;
  position: relative;
  top: 40px;
  left: 2.5%;
}

.all0 h3{
  position: relative;
top: 40px;
left: 20%;

  
}


.all0 h5{
  position: relative;
top: 40px;
left: 20%;

  
}








#course{
  border-top:1px solid #717171;
  border-bottom:1px solid #717171 ;

  margin-top: 150px;
  
}


.course{
  margin-top: 30px;
  width: 850px;
height: 400px;
top: 3808px;
left: 235px;
gap: 0px;
opacity: 0px;
display: flex;
align-items: center;
justify-content: center;

}

.c1{
  background-color: rgba(23, 26, 36, 1);
 
  width: Fixed (196px)px;
height: Hug (131px)px;
top: 67px;

padding: 30px 20px 30px 20px;
gap: 15px;
opacity: 0px;
margin: 15px;


}


.c2{background-color: rgba(23, 26, 36, 1);
  
  width: Fixed (196px)px;
height: Hug (131px)px;
top: 67px;
left: 287px;
padding: 30px 20px 30px 20px;
gap: 15px;
opacity: 0px;
margin: 15px;

}

.c3{
  background-color: rgba(23, 26, 36, 1);

  width: Fixed (196px)px;
height: Hug (131px)px;
top: 67px;
left: 384px;
padding: 30px 20px 30px 20px;
gap: 15px;
opacity: 0px;
margin: 15px;


}


.course :hover{
  background-color:rgba(207, 169, 53, 1);
}





}



@media only screen and (max-width: 314px) {

  .btn1{
    height: 30px;
    width: 80px;
    margin-left: 6px;
  }
  




  .btn2{
    height: 30px;
    width: 80px;
    
  }
  



  .btn3{
    height: 30px;
    width: 85px;
    
  }
  












}